%footer
  .row
    .large-6.small-6.columns
      %p
        Built by
        = link_to "Andre Ortiz", "http://helloandre.com"
        &amp;
        = link_to "Matt Synder", "http://cranialpulse.com"

    .large-6.small-6.columns
      %p
        =render 'shared/twitter_button'
        %i.fi-heart
        Enjoy!