%footer
  .text-center
    %p
      Built by
      = link_to "Andre Ortiz", "http://helloandre.com"
      &amp;
      = link_to "Matt Synder", "http://cranialpulse.com"
      %br
      %i.fi-heart
      Enjoy!