.text-center.about-hashu
  %a{"data-reveal" => "", "data-reveal-id" => "about-us", href: "#"}
    %svg#hashu_heart{"enable-background" => "new 0 0 85 75", height: "35px", version: "1.1", viewbox: "0 0 85 75", width: "45px", x: "0px", "xml:space" => "preserve", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", y: "0px"}
      %polygon{points: "76.176,9.504 76.176,0 47.468,0 47.468,9.503 37.532,9.503 37.532,0 8.824,0 8.824,9.504 \r\n\t18.287,9.504 18.287,27.559 8.824,27.559 8.824,9.504 0,9.504 0,37.597 8.824,37.597 8.824,47.911 18.287,47.911 18.287,55.978 \r\n\t26.899,55.978 26.899,66.708 36.522,66.708 36.522,75 48.693,75 48.693,66.708 58.102,66.708 58.102,55.978 66.715,55.978 \r\n\t66.715,47.911 76.176,47.911 76.176,37.597 85,37.597 85,9.504 "}