.row
  .right
    .follow-me.left
      %a.twitter-follow-button{"data-lang" => "en", "data-show-count" => "false", href: "https://twitter.com/andreortiz"} Follow @andreortiz
    .tweet-now.left
      %a.twitter-share-button{"data-count" => "horizontal", "data-url" => "http://sxh.me", "data-via" => "andreortiz", href: "https://twitter.com/share"} Tweet
%section#home
  .row
    .large-8.large-centered.small-12.columns
      .row
        .large-3.columns.small-6
          %h1.logo
            %img{src: "/assets/logo.png"}/
        .large-9.columns
          %h2 SOUTHSIDE HASH
          %p.lead
            Your collection of tweets tagged with
            %span #sxh
            so you can follow up with people you meet at SXSW 2013.
          = link_to '/auth/twitter', :class => 'button login large' do
            %ul.inline-list
              %li
                %span
              %li
                %label Login with Twitter