#header
  .row
    .large-12.columns.text-center
      =render 'shared/logo'
      %h1
        Remember the people you
        %span.strike meet
        %span.bold Tweet

      =link_to 'Get started', '/auth/twitter', class:'button login'

%section#marketing.text-center
  .row
    .large-12.columns
      %h2 How it works
      %h3
        Did you just meet someone interesting at a social event? Mention them in a tweet, add a #hashtag and follow up with them later.
  .row
    .large-8.medium-8.columns.large-centered.medium-centered
      .fake-tweet
        / .like-this
        %span.count 30
        .row.collapse
          .small-3.columns
            .icon-container
              %i.fi-social-twitter
          .small-9.columns
            %p @andreortiz @msnyder - It was great meeting you guys today! Let's catch up again over a coffee sometime. #sxsw
  =render 'shared/twitter_button'
