#header
  .row
    .large-12.columns.text-center
      =render 'shared/logo'
      %h1
        Remember the people you
        %span.strike meet
        %span.bold Tweet

      =link_to 'Get started', '/auth/twitter', class:'button login'

%section#marketing
  .row.collapse.full
    .large-6.columns.white
      %h2 How it works
      %h3
        Did you just meet someone interesting at a social event? Mention them in a tweet, add a #hashtag and follow up with them later.
      =render 'shared/twitter_button'
    .large-6.columns.light
      .fake-tweet
        / .like-this
        %span.count 7
        .row.collapse
          .large-3.columns.text-center
            %i.fi-social-twitter
          .large-9.columns
            %h3 @andreortiz @msnyder - It was great meeting you both today! You dudes are awesome. Let's catch up again over a coffee sometime. #sxsw
=render 'shared/heart'