#introduction
  .row
    .large-12.columns
      .text-center
        %h1 #hashtag
        %p.lead
          Meet someone? Include the
          %span.label #hashtag
          in your tweets and revisit that conversation
        = link_to '#login_with_twitter_path', :class => 'button login large' do
          %i.fi-social-twitter
          %span Login with Twitter