@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,900);

.strike { text-decoration: line-through; }
.italic { font-style: italic; }
.serif { font-family: Georgia serif; }

span.bold {
  font-weight: 600;
  color: $blue;
}