#people,
#tweets {
  padding: 50px 0;
  h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
    font-size:3.5em;
    font-weight: 900;
  }
}

#people {
  .info {
    img {
      margin-bottom: 10px;
    }
    p.bio {
      @extend .hide-for-small;
      color: $black;
    }
  }
}

.label {
   a {
      color: white;
   }
}

#tweets {
  h2 {color: white}
  background: $black;

  .tweet.panel {
    background: white;
    @include clearfix;

    .mentions {
      .inline-list {
        padding: 5px;
        img {margin: 0;}
      }
    }

    .map {
      background: $green;
    }
  }

  .date-group {
    border-top: 1px solid white;
    padding-top: 10px;

    date {
      color: white;
      display: block;
      font-weight: 200;
      font-size: 1.5em;
    }
  }
}
