@import "foundation";
@import "mixins";

$tan:#f1eed7;
$r:100px;

html body.sxh {
	background: none;
	background: $red;

	/* Dashboard */
	#dashboard {}

	header {
		background: url(/assets/bg.jpg) no-repeat center -235px fixed; 
		height: 300px;

		.stuff {
			background: #434343;
			height: 60px;

			h1.logo {
				background: #434343;
				margin-top: 10px;
				padding: 30px;
			}
		}
	}

	#people {
		h2 {
			display: block;
			text-align: center;
			color: white;
			padding: 20px 0;
			margin: 0 0 20px 0;
			background: rgba(0,0,0,0.3);
		}

		ul.mentions {
			li {height: 220px;}
			li span {
				color: white;
				text-align: center;
				display: block;
				font-weight: bold;
			}

			div.info{
				p {
					color: white;
					text-align: center;
					padding: 0 10px 20px 10px;
				}
			}
		}

		div.avatar {
			overflow: hidden;
			-webkit-border-radius: $r;
			-moz-border-radius: $r;
			border-radius: $r;
			height: 45px;
			width: 45px;
			margin: auto;
			/*img {width: $r;}*/
		}
	}

	#tweets {
		background: #454545;
		
		h2 {
			color: white;
			text-align: center;
			padding: 20px 0;
			margin: 0 0 20px 0;
			background: rgba(0,0,0,0.3);

			span {
				$foo: 3px;
				color: white;
				background: $red;
				padding: 5px;
				-webkit-border-radius: $foo;
				-moz-border-radius: $foo;
				border-radius: $foo;
			}
		}

		div.empty {
			
			h2 {margin: 0}
		}

		article {
			border: none;
			border-radius:0;
			margin-bottom: 20px;
			
			
			div.panel {
				margin-bottom: 0;
				background: white;
				border: none;
				
				date {
					color: #ccc;
					font-size: 12px;
				}
				p {
					line-height: 24px;
				}
			}

			ul.mentions {
				margin:0;
				background:#f5f5f5;
				padding: 10px;
				border-top: 1px solid #ebebeb;
				
				li:first-child {
					margin-left:0;
				}

				li div.avatar {
					overflow: hidden;
					-webkit-border-radius: $r;
					-moz-border-radius: $r;
					border-radius: $r;
					height: 40px;
					width: 40px;

					/*img {width: $r;}*/
				}
			}
		}
	}
}

footer {
	p {
		padding: 20px 0;
		text-align: center;
		color: white;
		font-size: 18px;

		a {
			color: white;
			font-weight: bold;
			text-decoration: underline;

			&:hover {
				color:white;
			}
		}
	}
}

a.button {
	-webkit-box-shadow:none;
	box-shadow:none;
	text-shadow:none;
	font-weight: normal;
}

h2 span, p span {
	color: $light-red;
}

div.follow-me, div.tweet-now {
	margin-top: 20px;margin-left: 10px;
}