@font-face {
    font-family: 'EntypoRegular';
    src: url('entypo.eot');
    src: url('entypo.eot?#iefix') format('embedded-opentype'),
         url('entypo.woff') format('woff'),
         url('entypo.ttf') format('truetype'),
         url('entypo.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EntypoSocialRegular';
    src: url('entypo-social.eot');
    src: url('entypo-social.eot?#iefix') format('embedded-opentype'),
         url('entypo-social.woff') format('woff'),
         url('entypo-social.ttf') format('truetype'),
         url('entypo-social.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

i.ei,
i.ei-social {
  font-style: normal;
  display: block;
}

.ei {
  font-family: 'EntypoRegular';
  font-size: 2em;
  font-weight: normal;
  line-height: 0;
}

.ei-social {
  font-family: 'EntypoSocialRegular';
  font-size: 2em;
  font-weight: normal;
  line-height: 0;
}

.ei.phone:before{ content:'\1F4DE'; }
.ei.mobile:before{ content:'\1F4F1'; }
.ei.mouse:before{ content:'\E789'; }
.ei.address:before{ content:'\E723'; }
.ei.mail:before{ content:'\2709'; }
.ei.paper-plane:before{ content:'\1F53F'; }
.ei.pencil:before{ content:'\270E'; }
.ei.feather:before{ content:'\2712'; }
.ei.attach:before{ content:'\1F4CE'; }
.ei.inbox:before{ content:'\E777'; }
.ei.reply:before{ content:'\E712'; }
.ei.reply-all:before{ content:'\E713'; }
.ei.forward:before{ content:'\27A6'; }
.ei.user:before{ content:'\1F464'; }
.ei.users:before{ content:'\1F465'; }
.ei.add-user:before{ content:'\E700'; }
.ei.vcard:before{ content:'\E722'; }
.ei.export:before{ content:'\E715'; }
.ei.location:before{ content:'\E724'; }
.ei.map:before{ content:'\E727'; }
.ei.compass:before{ content:'\E728'; }
.ei.direction:before{ content:'\27A2'; }
.ei.hair-cross:before{ content:'\1F3AF'; }
.ei.share:before{ content:'\E73C'; }
.ei.shareable:before{ content:'\E73E'; }
.ei.heart:before{ content:'\2665'; }
.ei.heart-empty:before{ content:'\2661'; }
.ei.star:before{ content:'\2605'; }
.ei.star-empty:before{ content:'\2606'; }
.ei.thumbs-up:before{ content:'\1F44D'; }
.ei.thumbs-down:before{ content:'\1F44E'; }
.ei.chat:before{ content:'\E720'; }
.ei.comment:before{ content:'\E718'; }
.ei.quote:before{ content:'\275E'; }
.ei.home:before{ content:'\2302'; }
.ei.popup:before{ content:'\E74C'; }
.ei.search:before{ content:'\1F50D'; }
.ei.flashlight:before{ content:'\1F526'; }
.ei.print:before{ content:'\E716'; }
.ei.bell:before{ content:'\1F514'; }
.ei.link:before{ content:'\1F517'; }
.ei.flag:before{ content:'\2691'; }
.ei.cog:before{ content:'\2699'; }
.ei.tools:before{ content:'\2692'; }
.ei.trophy:before{ content:'\1F3C6'; }
.ei.tag:before{ content:'\E70C'; }
.ei.camera:before{ content:'\1F4F7'; }
.ei.megaphone:before{ content:'1F4E3'; }
.ei.moon:before{ content:'\0045'; }
.ei.palette:before{ content:'\1F3A8'; }
.ei.leaf:before{ content:'\1F342'; }
.ei.note:before{ content:'\266A'; }
.ei.beamed-note:before{ content:'\266B'; }
.ei.new:before{ content:'\1F4A5'; }
.ei.graduation-cap:before{ content:'\1F393'; }
.ei.book:before{ content:'\1F4D5'; }
.ei.newspaper:before{ content:'\1F4F0'; }
.ei.bag:before{ content:'\1F45C'; }
.ei.airplane:before{ content:'\2708'; }
.ei.lifebuoy:before{ content:'\E788'; }
.ei.eye:before{ content:'\E70A'; }
.ei.clock:before{ content:'\1F554'; }
.ei.mic:before{ content:'\1F3A4'; }
.ei.calendar:before{ content:'\1F4C5'; }
.ei.flash:before{ content:'\26A1'; }
.ei.thunder-cloud:before{ content:'\26C8'; }
.ei.droplet:before{ content:'\1F4A7'; }
.ei.cd:before{ content:'\1F4BF'; }
.ei.briefcase:before{ content:'\1F4BC'; }
.ei.air:before{ content:'\1F4A8'; }
.ei.hourglass:before{ content:'\23F3'; }
.ei.gauge:before{ content:'\1F6C7'; }
.ei.language:before{ content:'\1F394'; }
.ei.network:before{ content:'\E776'; }
.ei.key:before{ content:'\1F511'; }
.ei.battery:before{ content:'\1F50B'; }
.ei.bucket:before{ content:'\1F4FE'; }
.ei.magnet:before{ content:'\E7A1'; }
.ei.drive:before{ content:'\1F4FD'; }
.ei.cup:before{ content:'\2615'; }
.ei.rocket:before{ content:'\1F680'; }
.ei.brush:before{ content:'\E79A'; }
.ei.suitcase:before{ content:'\1F6C6'; }
.ei.traffic-cone:before{ content:'\1F6C8'; }
.ei.globe:before{ content:'\1F30E'; }
.ei.keyboard:before{ content:'\2328'; }
.ei.browser:before{ content:'\E74E'; }
.ei.publish:before{ content:'\E74D'; }
.ei.progress-3:before{ content:'\E76B'; }
.ei.progress-2:before{ content:'\E76A'; }
.ei.progress-1:before{ content:'\E769'; }
.ei.progress-0:before{ content:'\E768'; }
.ei.light-down:before{ content:'\1F505'; }
.ei.light-up:before{ content:'\1F506'; }
.ei.adjust:before{ content:'\25D1'; }
.ei.code:before{ content:'\E714'; }
.ei.monitor:before{ content:'\1F4BB'; }
.ei.infinity:before{ content:'\221E'; }
.ei.light-bulb:before{ content:'\1F4A1'; }
.ei.credit-card:before{ content:'\1F4B3'; }
.ei.database:before{ content:'\1F4F8'; }
.ei.voicemail:before{ content:'\2707'; }
.ei.clipboard:before{ content:'\1F4CB'; }
.ei.cart:before{ content:'\E73D'; }
.ei.box:before{ content:'\1F4E6'; }
.ei.ticket:before{ content:'\1F3AB'; }
.ei.rss:before{ content:'\E73A'; }
.ei.signal:before{ content:'\1F4F6'; }
.ei.thermometer:before{ content:'\1F4FF'; }
.ei.water:before{ content:'\1F4A6'; }
.ei.sweden:before{ content:'\F601'; }
.ei.line-graph:before{ content:'\1F4C8'; }
.ei.pie-chart:before{ content:'\25F4'; }
.ei.bar-graph:before{ content:'\1F4CA'; }
.ei.area-graph:before{ content:'\1F53E'; }
.ei.lock:before{ content:'\1F512'; }
.ei.lock-open:before{ content:'\1F513'; }
.ei.logout:before{ content:'\E741'; }
.ei.login:before{ content:'\E740'; }
.ei.check:before{ content:'\2713'; }
.ei.cross:before{ content:'\274C'; }
.ei.squared-minus:before{ content:'\229F'; }
.ei.squared-plus:before{ content:'\229E'; }
.ei.squared-cross:before{ content:'\274E'; }
.ei.circled-minus:before{ content:'\2296'; }
.ei.circled-plus:before{ content:'\2295'; }
.ei.circled-cross:before{ content:'\2716'; }
.ei.minus:before{ content:'\2796'; }
.ei.plus:before{ content:'\2795'; }
.ei.erase:before{ content:'\232B'; }
.ei.block:before{ content:'\1F6AB'; }
.ei.info:before{ content:'\2139'; }
.ei.circled-info:before{ content:'\E705'; }
.ei.help:before{ content:'\2753'; }
.ei.circled-help:before{ content:'\E704'; }
.ei.warning:before{ content:'\26A0'; }
.ei.cycle:before{ content:'\1F504'; }
.ei.cw:before{ content:'\27F3'; }
.ei.ccw:before{ content:'\27F2'; }
.ei.shuffle:before{ content:'\1F500'; }
.ei.back:before{ content:'\1F519'; }
.ei.level-down:before{ content:'\21B3'; }
.ei.retweet:before{ content:'\E717'; }
.ei.loop:before{ content:'\1F501'; }
.ei.back-in-time:before{ content:'\E771'; }
.ei.level-up:before{ content:'\21B0'; }
.ei.switch:before{ content:'\21C6'; }
.ei.numbered-list:before{ content:'\E005'; }
.ei.add-to-list:before{ content:'\E003'; }
.ei.layout:before{ content:'\268F'; }
.ei.list:before{ content:'\2630'; }
.ei.text-doc:before{ content:'\1F4C4'; }
.ei.text-doc-inverted:before{ content:'\E731'; }
.ei.doc:before{ content:'\E730'; }
.ei.docs:before{ content:'\E736'; }
.ei.landscape-doc:before{ content:'\E737'; }
.ei.picture:before{ content:'\1F304'; }
.ei.video:before{ content:'\1F3AC'; }
.ei.music:before{ content:'\1F3B5'; }
.ei.folder:before{ content:'\1F4C1'; }
.ei.archive:before{ content:'\E800'; }
.ei.trash:before{ content:'\E729'; }
.ei.upload:before{ content:'\1F4E4'; }
.ei.download:before{ content:'\1F4E5'; }
.ei.save:before{ content:'\1F4BE'; }
.ei.install:before{ content:'\E778'; }
.ei.cloud:before{ content:'\2601'; }
.ei.upload-cloud:before{ content:'\E711'; }
.ei.bookmark:before{ content:'\1F516'; }
.ei.bookmarks:before{ content:'\1F4D1'; }
.ei.open-book:before{ content:'\1F4D6'; }
.ei.play:before{ content:'\25B6'; }
.ei.paus:before{ content:'\2016'; }
.ei.record:before{ content:'\25CF'; }
.ei.stop:before{ content:'\25A0'; }
.ei.ff:before{ content:'\23E9'; }
.ei.fb:before{ content:'\23EA'; }
.ei.to-start:before{ content:'\23EE'; }
.ei.to-end:before{ content:'\23ED'; }
.ei.resize-full:before{ content:'\E744'; }
.ei.resize-small:before{ content:'\E746'; }
.ei.volume:before{ content:'\23F7'; }
.ei.sound:before{ content:'\1F50A'; }
.ei.mute:before{ content:'\1F507'; }
.ei.flow-cascade:before{ content:'\1F568'; }
.ei.flow-branch:before{ content:'\1F569'; }
.ei.flow-tree:before{ content:'\1F56A'; }
.ei.flow-line:before{ content:'\1F56B'; }
.ei.flow-parallel:before{ content:'\1F56C'; }
.ei.left-bold:before{ content:'\E4AD'; }
.ei.down-bold:before{ content:'\E4B0'; }
.ei.up-bold:before{ content:'\E4AF'; }
.ei.right-bold:before{ content:'\E4AE'; }
.ei.left:before{ content:'\2B05'; }
.ei.down:before{ content:'\2B07'; }
.ei.up:before{ content:'\2B06'; }
.ei.right:before{ content:'\27A1'; }
.ei.circled-left:before{ content:'\E759'; }
.ei.circled-down:before{ content:'\E758'; }
.ei.circled-up:before{ content:'\E75B'; }
.ei.circled-right:before{ content:'\E75A'; }
.ei.triangle-left:before{ content:'\25C2'; }
.ei.triangle-down:before{ content:'\25BE'; }
.ei.triangle-up:before{ content:'\25B4'; }
.ei.triangle-right:before{ content:'\25B8'; }
.ei.chevron-left:before{ content:'\E75D'; }
.ei.chevron-down:before{ content:'\E75C'; }
.ei.chevron-up:before{ content:'\E75F'; }
.ei.chevron-right:before{ content:'\E75E'; }
.ei.chevron-small-left:before{ content:'\E761'; }
.ei.chevron-small-down:before{ content:'\E760'; }
.ei.chevron-small-up:before{ content:'\E763'; }
.ei.chevron-small-right:before{ content:'\E762'; }
.ei.chevron-thin-left:before{ content:'\E765'; }
.ei.chevron-thin-down:before{ content:'\E764'; }
.ei.chevron-thin-up:before{ content:'\E767'; }
.ei.chevron-thin-right:before{ content:'\E766'; }
.ei.left-thin:before{ content:'\2190'; }
.ei.down-thin:before{ content:'\2193'; }
.ei.up-thin:before{ content:'\2191'; }
.ei.right-thin:before{ content:'\2192'; }
.ei.arrow-combo:before{ content:'\E74F'; }
.ei.three-dots:before{ content:'\23F6'; }
.ei.two-dots:before{ content:'\23F5'; }
.ei.dot:before{ content:'\23F4'; }
.ei.cc:before{ content:'\1F545'; }
.ei.cc-by:before{ content:'\1F546'; }
.ei.cc-nc:before{ content:'\1F547'; }
.ei.cc-nc-eu:before{ content:'\1F548'; }
.ei.cc-nc-jp:before{ content:'\1F549'; }
.ei.cc-sa:before{ content:'\1F54A'; }
.ei.cc-nd:before{ content:'\1F54B'; }
.ei.cc-pd:before{ content:'\1F54C'; }
.ei.cc-zero:before{ content:'\1F54D'; }
.ei.cc-share:before{ content:'\1F54E'; }
.ei.cc-remix:before{ content:'\1F54F'; }
.ei.db-logo:before{ content:'\1F5F9'; }
.ei.db-shape:before{ content:'\1F5FA'; }

.ei-social.github:before{ content:'\F300'; }
.ei-social.c-github:before{ content:'\F301'; }
.ei-social.flickr:before{ content:'\F303'; }
.ei-social.c-flickr:before{ content:'\F304'; }
.ei-social.vimeo:before{ content:'\F306'; }
.ei-social.c-vimeo:before{ content:'\F307'; }
.ei-social.twitter:before{ content:'\F309'; }
.ei-social.c-twitter:before{ content:'\F30A'; }
.ei-social.facebook:before{ content:'\F30C'; }
.ei-social.c-facebook:before{ content:'\F30D'; }
.ei-social.s-facebook:before{ content:'\F30E'; }
.ei-social.google+:before{ content:'\F30F'; }
.ei-social.c-google+:before{ content:'\F310'; }
.ei-social.pinterest:before{ content:'\F312'; }
.ei-social.c-pinterest:before{ content:'\F313'; }
.ei-social.tumblr:before{ content:'\F315'; }
.ei-social.c-tumblr:before{ content:'\F316'; }
.ei-social.linkedin:before{ content:'\F318'; }
.ei-social.c-linkedin:before{ content:'\F319'; }
.ei-social.dribbble:before{ content:'\F31B'; }
.ei-social.c-dribbble:before{ content:'\F31C'; }
.ei-social.stumbleupon:before{ content:'\F31E'; }
.ei-social.c-stumbleupon:before{ content:'\F31F'; }
.ei-social.lastfm:before{ content:'\F321'; }
.ei-social.c-lastfm:before{ content:'\F322'; }
.ei-social.rdio:before{ content:'\F324'; }
.ei-social.c-rdio:before{ content:'\F325'; }
.ei-social.spotify:before{ content:'\F327'; }
.ei-social.c-spotify:before{ content:'\F328'; }
.ei-social.qq:before{ content:'\F32A'; }
.ei-social.instagram:before{ content:'\F32D'; }
.ei-social.dropbox:before{ content:'\F330'; }
.ei-social.evernote:before{ content:'\F333'; }
.ei-social.flattr:before{ content:'\F336'; }
.ei-social.skype:before{ content:'\F339'; }
.ei-social.c-skype:before{ content:'\F33A'; }
.ei-social.renren:before{ content:'\F33C'; }
.ei-social.sina-weibo:before{ content:'\F33F'; }
.ei-social.paypal:before{ content:'\F342'; }
.ei-social.picasa:before{ content:'\F345'; }
.ei-social.soundcloud:before{ content:'\F348'; }
.ei-social.mixi:before{ content:'\F34B'; }
.ei-social.behance:before{ content:'\F34E'; }
.ei-social.google-circles:before{ content:'\F351'; }
.ei-social.vk:before{ content:'\F354'; }
.ei-social.smashing:before{ content:'\F357'; }