#introduction {
	padding: 50px 0;

	img.logo {
    margin: 30px 0;
    max-height: 150px;
  }

  /* Foundation Orbit options */
  .orbit-step {
    &.step-1 .orbit-next-custom:after {content: "Why yes, I did...";}
    &.step-2 .orbit-next-custom:after {content: "Ok, then what?";}
    &.step-3 .orbit-next-custom:after {content: "Login and try it out!";}

    &.step-3 .orbit-next-custom {
      background: $blue;
      border-bottom: 4px solid $blue*0.8;

      span:before {
        @extend .fi-social-twitter;
        color: white;
        font-size: 2em;
        margin: 0 10px 0 0;
      }

      &:hover {
        background: $blue*1.2;
      }
    }

  }
  .orbit-container {
    text-align: center;
  }
  .orbit-progress {
    display: none;
  }
  .orbit-next-custom {
    @extend .button;
    @extend .round;
    @include shadow;
    margin: 40px 0;
    background: $red;
    border-bottom: 4px solid $red*0.8;
    padding-left:60px;
    padding-right:60px;
    font-weight: 100 !important;

    &:hover {background: $red*1.5;}

    &:after {
      content: "Why yes, I did...";
      font-size: 2em;
    }

    span {
      border: none;
    }
  }

  .orbit-prev {
    display: none;
  }
  .paused {
    background: green;
  }
}