body.index {

  #header {
    background: $dark fixed url(/assets/bgimage.jpg) center -300px;
    background-size: cover;
    border-bottom: 5px solid $red;
    svg#hashu_logo_svg {
      fill:white;
      max-width: 200px;
      max-height: 200px;
      margin: 40px 0;

      @media #{$small-only} {
        max-width: 140px;
        max-height: 140px;
      }
    }

    h1 {
      font-weight: 200;
      color: white;
      font-size: rem-calc(52);
    }

    svg#hashu_logo_svg, h1, .button.login {margin: 40px 0 0 0;}

    .button.login {
      margin-bottom: 40px;
      @include shadow;
      @extend .success;
      padding-left:60px;
      padding-right:60px;
      font-weight: 600 !important;
      font-size: rem-calc(32);
      color:white;
      &:before {
        @extend .fi-social-twitter;
        color:white;
        font-size: 1em;
        margin: 0 10px 0 0;
      }

      @media #{$small-only} {
        display: block;
        width: 100%;
      }
    }
  }
}
section#marketing {
  padding: 40px 0;

  h2 {
    font-weight: 600;
  }
}
.fake-tweet {
  background: white;
  position: relative;
  margin-top: 40px;
  @include shadow;
  .icon-container {
    background: $blue;
    padding: 30px;

    @media #{$small-only} {
      height: 200px;
      overflow: hidden;
      max-height: 195px;
    }

    @media #{$medium-only} {
      height: 200px;
      overflow: hidden;
      max-height: 195px;
    }

    i.fi-social-twitter {
      font-size: rem-calc(82);
      color: white;
      margin: 0;
      @media #{$small-only} {
        font-size: rem-calc(52);
        line-height: 130px;
        margin-left: -2px;
      }
    }
  }
  p {
    @extend .lead;
    text-align: left;
    padding: 20px;
    margin: 0;
    @media #{$small-only} {
      font-size: rem-calc(18);
    }
  }
  span.count {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: $ccgrey;
  }
}