@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

$baseHeaderSize:75px;
$baseBodySize:11px;
$red:#e15340;
$light-red:#f7ab81;

@mixin flexy-font($fontsize){
  $base: 1200px;
  @media (min-width: $base){
    font-size: $fontsize;
  }
 
  @each $factor in 0.9, 0.8, 0.7, 0.6, 0.5, 0.4, 0.3, 0.2, 0.1 {
    @media (max-width: $base * $factor){
      font-size: $fontsize * $factor;
    }
  }
}

@mixin grade($top, $bottom) {
	background-color: $top; 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($top), to($bottom));
	background-image: -webkit-linear-gradient(top, $top, $bottom); 
	background-image:    -moz-linear-gradient(top, $top, $bottom);
	background-image:     -ms-linear-gradient(top, $top, $bottom);
	background-image:      -o-linear-gradient(top, $top, $bottom);
}

/* Responsive hacks */
/* --------------------------------------- */
@media screen and (max-width: 550px) {
	html 
	body 
	header 
	h1.logo {
		padding: 5px;
	}

	.tweet-now, .follow-me { display: none; }

	#tweets h2, #people h2 {
		font-size: 18px;
	}

	body 
	#dashboard
	#people 
	ul.mentions 
	li {height: 100px;}

	body
	#tweets
	div.empty h2{
		line-height: 30px;
	}

	body
	#tweets
	ul.tweets li {
		width: 100%;
	}

	body
	#tweets
	ul.tweets li 
	article {
		width: 100%;
	}

	body
	#tweets
	ul.tweets li 
	article ul.mentions {
		
	}

	footer {
		background: $red;
		padding: 20px 0;
		height: 250px;
	}

	footer a.button {
		background: rgba(0,0,0,0.5);
		display: block;
		border: none;
		padding: 20px 0;
	}

	.logo-mobile {
		background: #434343;
	}
	.logo-mobile img {
		width: 20%;
		margin: auto;
	}

	.logo-mobile .lc {
		background: rgba(0,0,0,0.5);
		padding: 20px 0;
	}
}