/* Include Foundation Variables */

/* Colors */
$black: #6B7579;
$light: #f5f5f5;
$ccgrey:#CCCCCC;
$green:#2C864E;
$color: #454545;
$red:#ec4737;
$blue:#5d98a8;
$orange: #f39c1f;
$lightblue:#ABB6BD;

/* Mixins */
@mixin shadow {
    @include box-shadow(0 1px 4px 2px rgba(black, 0.1));
}

/* Default Styles */
body {
  background: $light;

}
footer {
  padding: 20px 0;

  p {
    margin: 0;
    color: $lightblue;
  }
}
.has-tip {cursor: pointer;}
p span.label {font-size: inherit;background: $orange;}